<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE MUSIC LEGENDS API</title>
    <link rel="stylesheet" href="/templates/styles.css">
</head>
<body>
    <h1>THE MUSIC LEGENDS API</h1>
    <div class="group-container">
        {{range .}}
        <div class="group-item">
            <img src="{{.Image}}" alt="{{.Name}} Image">
            <div class="group-info">
                <h2>{{.Name}}</h2>
                <div class="details">
                    <p>ID: {{.ID}}</p>
                    <p>Members:</p>
                    <ul>
                        {{range .Members}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                    <p>Creation Date: {{.CreationDate}}</p>
                    <p>First Album: {{.FirstAlbum}}</p>
                    <p>Date Locations:</p>
                    <ul>
                        {{range $key, $value := .DateLocations}}
                        <li>{{$key}}: {{range $value}}{{.}}, {{end}}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</body>
</html>
